#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

.root-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #232438;
}
